.dx-button-success {
    background-color: #a9d08e !important;
    border-color: #a9d08e !important;
}

.titulocenario {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,sans-serif;
}
